<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alarmmanagerdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.alarmmanagerdemo" >
    </instrumentation>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name="com.example.alarmmanagerdemo.ui.NotificationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.alarmmanagerdemo.ui.AlarmReminderHomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.alarmmanagerdemo.ui.AlarmReminderEditActivity" />
        <activity android:name="com.example.alarmmanagerdemo.ui.MainActivity" />
        <activity android:name="com.example.alarmmanagerdemo.DoSomething" />

        <receiver
            android:name="com.example.alarmmanagerdemo.receivers.AlarmReminderReceiver"
            android:process=":remote" />
        <receiver
            android:name="com.example.alarmmanagerdemo.AlarmReceiver"
            android:process=":remote" >

            <!--
            <intent-filter>
                <action android:name="com.health.billion.broadcast.Alarm.A" />
                <action android:name="com.health.billion.broadcast.Alarm.B" />
                <action android:name="com.health.billion.broadcast.Alarm.C" />
                <action android:name="com.health.billion.broadcast.Alarm.D" />
                <action android:name="com.health.billion.broadcast.Alarm.E" />
                <action android:name="com.health.billion.broadcast.Alarm.F" />
                <action android:name="com.health.billion.broadcast.Alarm.G" />
            </intent-filter>
            -->
        </receiver>

        <service android:name="com.example.alarmmanagerdemo.CallupNotificationService" >
        </service>

        <uses-library android:name="android.test.runner" />
    </application>

</manifest>